<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/example.css">
</head>
<body>
	<h1 id="title"><%= title %></h1>
	<hr>
	<h2>INFO</h2>
	<br><br>
	<section>	
		<div class="center">
			
			Name: <%= person.name %>
			<br/>
			Sex: <%= person.sex %>
			<br/>
			School: <%= person.school %>
 			<br/>
 			Club: <%= person.club %>
 			<br/>
			Contact:
			<br/>
			<h3>
			<ul>
				<% for(var i=0; i<contact.length; i++) {%>
			  	<li><%= contact[i] %></li>
				<% } %>
			</ul>
			</h3>
		</div>
	</section>
</body>
</html>