<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/example.css">
	<style type="text/css">
		h1{
			background-color: red
		}
	</style>
</head>
<body>
	<h1 id="title"><%= title %></h1>
	<section>
		<h2 style='background-color: green'>User info</h2>
		Name: <%= person.name %>
		<br/>
		Hobby: <%= person.hobby%>
		<br/>
		Like fruits
		<br/>
		<ul>
			<% for(var i=0; i<fruits.length; i++) {%>
		  	<li><%= fruits[i] %></li>
			<% } %>
		</ul>
	</section>
	<section>
		<h2>Compile html code</h2>
		<%= html %>
		<%- html %>
	</section>
</body>
</html>