html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    h1= title
    h2.name #{name}
    h2.friends friends?  johnny pai = #{person.johnny} && shan= #{person.shan} 
    != html
