html
  head
    title= title
    link(rel="stylesheet" href="/style.css")
  body
    h1= title
    h2.name #{name}
    h2.friends Edge person have friends? one number #{person.johnny} => johnny and the other is number #{person.shan} => shan 
    != html
