<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>html</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= name %></h2>
    <h2>friends? johnny pai = <%= person.johnny %> && shan= <%= person.shan %> </h2>
    <%- html %>
  </body>
</html>
